<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="VB6VisualMockupDesigner.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <VB6VisualMockupDesigner.Properties.Settings>
            <setting name="AppTheme" serializeAs="String">
                <value>Dark</value>
            </setting>
            <setting name="Cust_AppBg" serializeAs="String">
                <value>#004080</value>
            </setting>
            <setting name="Cust_PanelBg" serializeAs="String">
                <value>#D4D0C8</value>
            </setting>
            <setting name="Cust_Text" serializeAs="String">
                <value>#000000</value>
            </setting>
            <setting name="Cust_Accent" serializeAs="String">
                <value>#000080</value>
            </setting>
            <setting name="Cust_SecText" serializeAs="String">
                <value>#404040</value>
            </setting>
            <setting name="Cust_Border" serializeAs="String">
                <value>#808080</value>
            </setting>
            <setting name="Cust_Grid" serializeAs="String">
                <value>#808080</value>
            </setting>
            <setting name="Cust_Selection" serializeAs="String">
                <value>#40000080</value>
            </setting>
        </VB6VisualMockupDesigner.Properties.Settings>
    </userSettings>
</configuration>